body {
  width: 90%;
  margin: auto;
}

header {
  padding: 10px 50px;
  background-color: #dc0032;
  color: white;
}

main {
  font-size: 18px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 15px 0;
}

.legend {
  margin-bottom: 12px;
}

label {
  cursor: pointer;
}

label input {
  cursor: pointer;
}

fieldset {
  border-radius: 5px;
  background: rgba(240, 240, 240);
}

.answers {
  margin: 5px;
}

.answer {
  margin: 5px;
}

.answer:hover {
  background-color: lightgrey;
}

.answer input {
  margin-right: 8px;
}

.badAnswer {
  color: red;
}

.goodAnswer {
  color: green;
  font-weight: bold;
}

.answers img {
  width: 750px;
}

#verdict {
  margin: 20px 0;
}

@media only screen and (max-width: 900px) {
  .answers img {
    width: 100%;
  }
}
